<!-- footer area start -->
<footer class="main-footer bgc-black rel z-1" style="background: #000;">

    <div class="widget-area pb-70">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="0">
                    <div class="footer-widget footer-text">
                        <div class="footer-logo mb-25">
                            <a href="/"
                                style="color: #fff; font-size: 28px; font-weight: bold; text-decoration: none; font-family: 'Bebas Neue', cursive;">
                                <img src="assets/images/logos/logo.jpg" alt="Hot Chick Club"
                                    style="width: auto; height: 50px;">
                            </a>
                        </div>
                        <p style="color: #ccc;">Where the hot ones hang out. We're not just selling chicken; we're
                            building a lifestyle brand that people want to be part of.</p>
                        <div class="social-style-one mt-15">
                            <a href="#" style="color: #ff0000;"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" style="color: #ff0000;"><i class="fab fa-twitter"></i></a>
                            <a href="#" style="color: #ff0000;"><i class="fab fa-instagram"></i></a>
                            <a href="#" style="color: #ff0000;"><i class="fab fa-tiktok"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-sm-6" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500"
                    data-aos-offset="0">
                    <div class="footer-widget footer-links">
                        <div class="footer-title">
                            <h5 style="color: #fff;">popular items</h5>
                        </div>
                        <ul class="two-column">
                            <li><a href="/menu" style="color: #ccc;">Big Cluck - $8</a></li>
                            <li><a href="/menu" style="color: #ccc;">Chick Club Sandwich - $16</a></li>
                            <li><a href="/menu" style="color: #ccc;">Secret Chick - $17</a></li>
                            <li><a href="menu.html" style="color: #ccc;">Chick Stack Fries - $22</a></li>
                            <li><a href="/menu" style="color: #ccc;">Cluck Wings (6pc) - $12</a></li>
                            <li><a href="menu.html" style="color: #ccc;">Bone-in Nashville (2pc) - $13</a></li>
                            <li><a href="/menu" style="color: #ccc;">The Big Peck Party Pack - $95</a></li>
                            <li><a href="/menu" style="color: #ccc;">5 Heat Levels Available</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-5 col-sm-6" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1500" data-aos-offset="0">
                            <div class="footer-widget footer-contact">
                                <div class="footer-title">
                                    <h5 style="color: #fff;">contact us</h5>
                                </div>
                                <ul>
                                    <li style="color: #ccc;">15705 37 St NW, Edmonton, AB T5Y 0S5, Canada</li>
                                    <li><a href="mailto:info@hotchickclub.com"
                                            style="color: #ff0000;"><u>info@hotchickclub.com</u></a></li>
                                    <li><a href="callto:+15874983493" style="color: #ff0000;">+1 (587) 498-3493</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-sm-6" data-aos="fade-up" data-aos-delay="150"
                            data-aos-duration="1500" data-aos-offset="0">
                            <div class="footer-widget opening-hour">
                                <div class="footer-title">
                                    <h5 style="color: #fff;">opening hours</h5>
                                </div>
                                <ul>
                                    <li style="color: #ccc;">Monday – Friday: <span style="color: #ff0000;">11am –
                                            10pm</span></li>
                                    <li style="color: #ccc;">Saturday – Sunday: <span style="color: #ff0000;">11am –
                                            11pm</span></li>
                                </ul>
                                <div class="any-question mt-20">
                                    <h5 style="color: #fff;">Ready to join the club?</h5>
                                    <a href="/menu" class="theme-btn style-two"
                                        style="background: #ff0000; border: none; color: #fff;">order now <i
                                            class="far fa-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-30 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="copyright-text text-center text-lg-start">
                        <p style="color: #ccc;">Copyright 2024 <a href="/" style="color: #ff0000;">Hot Chick
                                Club</a>. All Rights Reserved </p>
                    </div>
                </div>
                <div class="col-lg-7 text-center text-lg-end">
                    <ul class="footer-bottom-nav">
                        <li><a href="#" style="color: #ccc;">Privacy Policy</a></li>
                        <li><a href="#" style="color: #ccc;">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>
            <!-- Scroll Top Button -->
            <button class="scroll-top scroll-to-target" data-target="html" style="background: #ff0000; color: #fff;"><i
                    class="fas fa-arrow-alt-up"></i></button>
        </div>
    </div>
</footer>
<!-- footer area end -->