<!-- Headline area start -->
<div class="headline-area {{headline_class}} rel z-1">
    <span class="marquee-wrap {{marquee_class}}">
        <span class="marquee-inner left">
            <span class="marquee-item">Italian pizza</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
            <span class="marquee-item">delicious foods</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
            <span class="marquee-item">burger king</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
        </span>
        <span class="marquee-inner left">
            <span class="marquee-item">Italian pizza</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
            <span class="marquee-item">delicious foods</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
            <span class="marquee-item">burger king</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
        </span>
        <span class="marquee-inner left">
            <span class="marquee-item">Italian pizza</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
            <span class="marquee-item">delicious foods</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
            <span class="marquee-item">burger king</span>
            <span class="marquee-item"><i class="flaticon-star"></i></span>
        </span>
    </span>
    <div class="headline-shapes">
        <div class="shape one">
            <img src="assets/images/shapes/chillies.png" alt="Shape">
        </div>
        <div class="shape two">
            <img src="assets/images/shapes/tomato.png" alt="Shape">
        </div>
    </div>
</div>
<!-- Headline Area end -->