<!-- main header -->
<header class="main-header white-menu menu-absolute" style="background: #000;">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container-fluid clearfix">

            <div class="header-inner rel d-flex align-items-center">
                <div class="logo-outer">
                    <div class="logo">
                        <a href="index.html"
                            style="color: #fff; font-size: 32px; font-weight: bold; text-decoration: none; font-family: 'Bebas Neue', cursive;">
                            HOT CHICK<br><span style="color: #ff0000; font-size: 24px;">CLUB</span>
                        </a>
                    </div>
                </div>

                <div class="nav-outer ms-lg-5 ps-xxl-4 clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header py-10">
                            <div class="mobile-logo">
                                <a href="index.html"
                                    style="color: #fff; font-size: 24px; font-weight: bold; text-decoration: none; font-family: 'Bebas Neue', cursive;">
                                    HOT CHICK<br><span style="color: #ff0000;">CLUB</span>
                                </a>
                            </div>

                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="index.html" style="color: #fff; font-weight: 500;">Home</a></li>
                                <li><a href="menu.html" style="color: #fff; font-weight: 500;">Menu</a></li>
                                <li><a href="about.html" style="color: #fff; font-weight: 500;">About Us</a></li>
                                <li><a href="contact.html" style="color: #fff; font-weight: 500;">Contact Us</a></li>
                            </ul>
                        </div>

                    </nav>
                    <!-- Main Menu End-->
                </div>

                <div class="header-number">
                    <i class="far fa-phone" style="color: #fff;"></i>Call : <a href="callto:+15874983493"
                        style="color: #ff0000;">+1 (587) 498-3493</a>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
</header>