<!-- Page Banner Start -->
<section class="page-banner-area overlay pt-215 rpt-150 pb-160 rpb-120 rel z-1 bgs-cover text-center"
    style="background-image: url(assets/images/background/banner.jpg);">
    <div class="container">
        <div class="banner-inner text-white">
            <h1 class="page-title" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">{{page_title}}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center" data-aos="fade-up" data-aos-delay="200"
                    data-aos-duration="1500" data-aos-offset="50">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">{{breadcrumb}}</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Banner End -->